.Product {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.625rem;
    border-radius: 0.625rem;
    align-items: center;
    border: 0.125rem solid #b4b4b4;
    max-height: 16.25rem;
    padding: 1.25rem 1.875rem;
    justify-content: space-between;

    &:hover {
        background-color: #f1f3f5;
        transition: 0.2s;
    }

    @media (max-width: 500px) {
        padding: 0.625rem;
        min-width: 170px;
    }
}

.ProductImage {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.ProductName {
    font-size: 1rem;
    margin: 0;
    cursor: pointer;

    &:hover {
        color: #1a6fac
    }
}

.ProductInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.3125rem;

    >p,
    span {
        color: black;
    }
    > p {
        font-weight: 500;
        font-size: 1.125rem;
        text-align: center;
    }
    > span {
        font-weight: 500;
        font-size: 1rem;
        text-align: center;
    }
}

.ProductButton {
    height: 1.875rem;
    width: 100%;
    border-radius: 0.3125rem;
    border: 1px solid #696969;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background-color: #0056b3;
        transition: 0.2s;
    }
}