#root {
  min-height: 100dvh;
  width: 100dvw;

  background: linear-gradient(-45deg, #d0ebff, #ffc9c9, #d0bfff, #f1f3f5);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}